@import "./src/assets/styles/variables";

.record-list-card {
    display: flex;
    flex-direction: row;
    background-color: $--c-secondary;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    margin: 16px 64px;

    &__description {
        display: flex;
        flex-direction: column;
        color: #828486;
        margin: 8px 0 8px 32px;


        &__title {
            font-size: 1.3rem;
            font-weight: 700;
            width: 540px;
            overflow-wrap: break-word;
        }
    }

    &__arrow-button {
        height: 32px;
        margin-right: 32px;
    }
}