@import "./src/assets/styles/variables";

.add-record {
  display: flex;
  flex-direction: column;

  &__header{
    font-weight: 700;
    color: $--c-main;
    font-size: 1.4rem;
    margin: 16px auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: $--c-button;
    border-radius: 16px;
    padding: 16px;
    margin: 16px 128px;


    &__error {
      color: darkred;
      font-weight: 700;
      font-size: 0.8rem;
    }

    &__label {
      margin-top: 16px;
    }

    &__input {
      border: 1px solid $--c-main;
      border-radius: 8px;
      background-color: $--c-text-secondary;
      height: 24px;
      margin-top: 4px;
      padding-left: 8px;
      width: calc(100% - 8px);

      &-image {
        margin-top: 4px;
        height: 20px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
      }
    }

    input::file-selector-button {
      color: $--c-text-secondary;
      background-color: $--c-main;
      border: 1px solid $--c-main;
      border-radius: 16px;
      height: 20px;
      cursor: pointer;
    }

    &__input:focus-visible {
      outline: none;
    }


    &__text {
      border-radius: 8px;
      margin-top: 4px;
      border: 1px solid $--c-main;
      padding-left: 8px;
    }

    &__text:focus-visible {
      outline: none;
    }

    &__label-text {
      margin-top: 16px;
    }

    &__button {
      background-color: $--c-main;
      color: $--c-text-secondary;
      border-radius: 16px;
      border: 1px $--c-main solid;
      width: 96px;
      height: 36px;
      cursor: pointer;
      margin-top: 16px;
    }
  }
}
.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}
