@import "./src/assets/styles/variables";

.comment-form {
  display: flex;
  flex-direction: column;
  background-color: $--c-button;
  border-radius: 16px;
  margin-top: 16px;
  padding: 16px;
  margin-bottom: 8px;

  &__error {
    color: darkred;
    font-weight: 700;
    font-size: 0.8rem;
  }

  &__text {
    border-radius: 8px;
    margin-top: 4px;
    border: 1px solid $--c-main;
    padding-left: 8px;
  }

  &__text:focus-visible {
    outline: none;
  }

  &__button {
    background-color: $--c-main;
    color: $--c-text-secondary;
    border-radius: 16px;
    border: 1px $--c-main solid;
    width: 96px;
    height: 36px;
    margin-top: 8px;
    cursor: pointer;
  }
}