@import "./src/assets/styles/variables";


.filter-bar {
  border: 2px $--c-main solid;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 0;
  margin: 16px 128px;
  align-items: center;

  &__icon {
    height: 32px;
    margin-left: 32px;
  }

  &__input {
    margin-left: 8px;
    margin-right: 8px;
    height: 32px;
    border: 2px $--c-main solid;
    border-radius: 16px;
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: $--c-text;
  }

  &__input:focus-visible {
    outline: none;
  }

  &__date-separator {
    text-align: center;
    font-weight: 700;
  }

  &__error {
    color: darkred;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 8px;
  }
}
