@import "./src/assets/styles/variables";

.button-clear {
  height: 36px;
  width: 96px;
  margin-left: 16px;
  color: $--c-text;
  border-radius: 16px;
  border: 1px $--c-button solid;
  background-color: $--c-button;
  cursor: pointer;
  font-size: 1rem;
}

.button-main {
  background-color: $--c-main;
  color: $--c-text-secondary;
  border-radius: 16px;
  border: 1px $--c-main solid;
  padding: 8px 16px;
  height: 36px;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 450px) {
  .button-main, .button-clear {
    height: 24px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}